In [1]:
import re

In [2]:
import pandas as pd

In [3]:
file = pd.read_csv("https://raw.githubusercontent.com/viniciusrpb/cic0269_natural_language_processing/main/diario_oficial_pref_sp/dosp_29012016.csv")

In [4]:
file

,ID,Data,Retranca,Tipo do Conteúdo,Secretaria,Orgão,Texto,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,2016/01/29/0,2016-01-29T00:00:00Z,efmaadm,LICITAÇÕES,-,-,((TITULO))Extrato de Termo de Aditamento\n((TE...,NaN,NaN,NaN,NaN,NaN,NaN
1,2016/01/29/1,2016-01-29T00:00:00Z,efaaadm,LICITAÇÕES,CULTURA,GABINETE DO SECRETÁRIO,((TITULO))CONTRAÇÃO DE NATUREZA ARTÍSTICA\n\n(...,NaN,NaN,NaN,NaN,NaN,NaN
2,2016/01/29/2,2016-01-29T00:00:00Z,efmaadm,LICITAÇÕES,-,-,((TITULO))Extrato de Termo de Aditamento\n((TE...,NaN,NaN,NaN,NaN,NaN,NaN
3,2016/01/29/3,2016-01-29T00:00:00Z,epaaadm,LICITAÇÕES,SAÚDE,GABINETE DO SECRETÁRIO,((TITULO))PROCESSO: 2015-0.272.291-3\n((TEXTO)...,NaN,NaN,NaN,NaN,NaN,NaN
4,2016/01/29/4,2016-01-29T00:00:00Z,epwbadm,LICITAÇÕES,AUTARQUIA HOSPITALAR MUNICIPAL,DIRETORIA DE GESTÃO DE PESSOAL,((TITULO))PENALIDADE\n((TEXTO))((NG))PROCESSO ...,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
701,2016/01/29/702,2016-01-29T00:00:00Z,dseaadm,EDITAIS,TRANSPORTES,DEPTO DE TRANSPORTES PÚBLICOS,((TEXTO))((NG))INTIMAÇÃO((CL))\nProcesso Admin...,NaN,NaN,NaN,NaN,NaN,NaN
702,2016/01/29/703,2016-01-29T00:00:00Z,bpaaadm,SERVIDORES,SAÚDE,GABINETE DO SECRETÁRIO,((TITULO))COORDENAÇÃO DE GESTÃO DE PESSOAS - C...,NaN,NaN,NaN,NaN,NaN,NaN
703,2016/01/29/704,2016-01-29T00:00:00Z,bofaadm,SERVIDORES,DESENVOLVIMENTO URBANO,GABINETE DO SECRETÁRIO,((TITULO))LICENÇA MÉDICA - RGPS\n((TEXTO))Conc...,NaN,NaN,NaN,NaN,NaN,NaN
704,2016/01/29/705,2016-01-29T00:00:00Z,abnxidm,DESPACHO,DIREITOS HUMANOS E CIDADANIA,GABINETE DO SECRETÁRIO,((TITULO))Processo Eletrônico nº 6074.2016/000...,NaN,NaN,NaN,NaN,NaN,NaN
705,2016/01/29/706,2016-01-29T00:00:00Z,agidadm,DESPACHO,EDUCAÇÃO,DIRETORIA REGIONAL DE EDUCAÇÃO DE PIRITUBA,((TITULO))DIRETORIA REGIONAL DE EDUCAÇÃO - PIR...,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
t = file.iloc[:7,6]
t

0    ((TITULO))Extrato de Termo de Aditamento\n((TE...
1    ((TITULO))CONTRAÇÃO DE NATUREZA ARTÍSTICA\n\n(...
2    ((TITULO))Extrato de Termo de Aditamento\n((TE...
3    ((TITULO))PROCESSO: 2015-0.272.291-3\n((TEXTO)...
4    ((TITULO))PENALIDADE\n((TEXTO))((NG))PROCESSO ...
5    ((TITULO))2015-0.038.991-5 \n((TEXTO))À vista ...
6    ((TITULO))DISPENSA DE LICITAÇÃO\n\n((TEXTO))((...
Name: Texto, dtype: object

In [46]:
titles = []
processes = []
values = []

In [47]:
for line in t:
  title = re.findall(r"..TITULO..(.*)\s*..TEXTO..", line)
  print(title)
  titles.append(title[0])

['Extrato de Termo de Aditamento']
['CONTRAÇÃO DE NATUREZA ARTÍSTICA']
['Extrato de Termo de Aditamento']
['PROCESSO: 2015-0.272.291-3']
['PENALIDADE']
['2015-0.038.991-5 ']
['DISPENSA DE LICITAÇÃO']

In [48]:
for line in t:
  process = re.findall(r".*.SEI(.*)..CL..", line)
  if(process == []):
    process.append("NaN")
  print(process)
  processes.append(process[0])

['NaN']
[' 6025.2016/0000082-0']
['NaN']
['NaN']
['NaN']
['NaN']
[' 6025.2016/0000004-8']

In [49]:
for line in t:
  value = re.findall(r".*VALOR GLOBAL.*..CL....(..........)", line)
  if(value == []):
    value.append("NaN")
  print(value)
  values.append(value[0])

['NaN']
[' 14.000,00']
['NaN']
['NaN']
['NaN']
['NaN']
['NaN']

In [21]:
print(titles[0])

['Extrato de Termo de Aditamento']

In [50]:
list = []

for i in range(t.size):
  list.append([titles[i], processes[i], values[i]])

In [51]:
df = pd.DataFrame(list, columns = ['Título', 'Número do Processo', 'Valor'])

In [52]:
df

                            Título    Número do Processo       Valor
0   Extrato de Termo de Aditamento                   NaN         NaN
1  CONTRAÇÃO DE NATUREZA ARTÍSTICA   6025.2016/0000082-0   14.000,00
2   Extrato de Termo de Aditamento                   NaN         NaN
3       PROCESSO: 2015-0.272.291-3                   NaN         NaN
4                       PENALIDADE                   NaN         NaN
5                2015-0.038.991-5                    NaN         NaN
6            DISPENSA DE LICITAÇÃO   6025.2016/0000004-8         NaN